html body {
  background-color: lightgray;
}

table.table-padded {
  /*margin-left: 90px;*/
}

img.ship-piece {
  width: 50px;
  height: 50px;
}

img.ship-rotate {
  transform: rotate(90deg);
}

img.shots-fired {
  margin-left: 10px;
  margin-right: 10px;
}

div.site-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: dimgray;
}

table.table-left {
  margin-left: 15%;
}

table.table-right {
  margin-left: 10%;
}

.img-overlay {
  position: relative;
  max-width: 500px; //whatever your max-width should be 
}